<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="book"></clr-icon>
        <span class="title">Storybot</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <app-issue-table></app-issue-table>
    </div>
  </div>
</div>
