@import "grid";

.container {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  td {
    padding: 10px 25px;
    &.issue-name {
      vertical-align: top;
    }
    &.icon-cell {
      text-align: center;
    }
  }

  tr.group-row {
    border-top: 1px solid rgba(0,0,0,0.2);
  }
}

clr-icon {
  width: 24px;
  height: 24px;
}
