<div class="flex-row">
  <div class="flex-col-md-3"></div>
  <div class="flex-col-md-6">
    <table>
      <thead>
      <tr>
        <th>Ticket</th>
        <th>Test</th>
        <th>Result</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let issue of issues.groupedExecutions | keyvalue">
        <tr class="group-row">
          <td [attr.rowspan]="issue.value.length" class="issue-name">{{ issue.key  }}</td>
          <td>{{ issue.value[0].displayName }}</td>
          <td *ngIf="issue.value[0].status === 'SUCCESSFUL'" class="icon-cell">
            <clr-icon shape="success-standard" class="is-success"></clr-icon>
          </td>
          <td *ngIf="issue.value[0].status !== 'SUCCESSFUL'" class="icon-cell">
            <clr-icon shape="error-standard" class="is-error"></clr-icon>
          </td>
        </tr>
        <tr *ngFor="let testResult of issue.value.slice(1)">
          <td>{{ testResult.displayName }}</td>
          <td *ngIf="testResult.status === 'SUCCESSFUL'" class="icon-cell">
            <clr-icon shape="success-standard" class="is-success"></clr-icon>
          </td>
          <td *ngIf="testResult.status !== 'SUCCESSFUL'" class="icon-cell">
            <clr-icon shape="error-standard" class="is-error"></clr-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="flex-col-md-3"></div>

</div>
